@model IEnumerable<AssignmentIndexServiceModel>
@inject IAssigneeService assigneeService

@{
    ViewData["Title"] = "Home Page";
    var assignments = Model.ToList();
}

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: 300px;
        display: inline-block;
        background-color: #ff8c8c;
        font-family: "Lucida Console", "Courier New", monospace;
    }

    .card h3 {
        margin-top: 0;
    }

    .card p {
        margin-bottom: 5px;
    }

    h2{
        margin: auto;
        font-family: Lucida Console, Courier New, monospace;
        background-color: gray;
        border: 2px solid #ccc;
        display:table;
    }
</style>

<div class="mt-4 p-5">
    <h4 style="font-family: Lucida Console, Courier New, monospace; text-align:center;" class="display-4">Here are the newest tasks available.</h4>
</div>

@if (!assignments.Any())
{
    <div class="mt-4 p-5">
        <p class="lead">
            There are no assignments assigned. 
            In case you need to assign one feel free to do so.
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User?.Identity?.IsAuthenticated ?? true && await assigneeService.ExistsByIdAsync(User.Id()))
            {
                <a asp-controller="Assignment" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add an Assignment</a>
            }
        </p>
    </div>
}

<div>
    @for (int i = 0; i < assignments.Count(); i++)
    {
        var assignment = assignments[i];
        <div class="card">
            <div style="margin: auto; border: 3px solid black; padding: 5px; background-color: gray"> 
                    <a style="margin: auto; width: 100%;" class="btn btn-secondary" 
                    asp-controller="Assignment" asp-action="Details" asp-route-id="@assignment.Id" asp-route-information="@assignment.GetInformation()"> @assignment.Title</a> </div>
            <p>@assignment.Description</p>
            <p>Category: @assignment.Category.Name</p>
        </div>
    }
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-secondary" id="statistics-button">Statistics</button>
    </div>
</div>

<div style="background-color: #949494; text-align: center; border-radius: 10px;" class="mt-4 p-5 d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-2" id="total-assignments"></h2>
        <h2 class="col-md-2" id="total-accepted"></h2>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => { 
            $.get('/api/statistic', data => {
                $('#total-assignments').text(data.totalAssignments + ' Assignments');
                $('#total-accepted').text(data.totalAccepted + ' Accepted');
                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}